.cor1{ background-color: #ff0000 }
.cor2{ background-color: #00ff00; }
.cor3{ background-color: #0000ff; }
.cor4{ background-color: #ffff00; }
.cor5{ background-color: #808080; }
.cor6{
    background-color: #000000;
    color: #ffffff;
}