.cor1{ background-color: red; }
.cor2{ background-color: green; }
.cor3{ background-color: blue; }
.cor4{ background-color: yellow; }
.cor5{ background-color: grey; }
.cor6{
    background-color: black;
    color: white;
}