body{
    font-family:arial;/* altera a fonte da página */
    background-color: whitesmoke;
}
h2{
    color:green;
}
h1{
    color:yellow;
}
p{
    color:magenta;
}
#s3{
    color:red;
}
.fundo{
    background-color: aqua;
}
.textoazul{
    color:blue;
}


/*
seletor{
    propriedade:valor;
}
*/