body{
    font-family:arial;/* altera a fonte da página */
    background-color: whitesmoke;
}
h2{
    color:green;
}
h1{
    color:yellow;
}
p{
    color:magenta;
}
#s3{
    color:red;
}



/*
seletor{
    propriedade:valor;
}
*/